* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-image: url(https://wallpapers.com/images/featured-full/travel-hd-background-axhrsecphqby11wk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 10px;
    display: flex;
    justify-content: center;
  }
  
  #parent {
    margin: 15px 120px 5px 120px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  
  #parent > div + div {
    padding: 30px 100px 0 100px !important;
  }
  
  h3 {
    padding: 0;
    margin: 0 0 8px;
    font-weight: 550;
    font-size: 25px;
    color: #151b39;
    font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  #parent div:nth-child(2) > p {
    font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    color: rgba(21, 27, 57, .6);
    margin-top: 15px;
    margin-bottom: 40px;
  }
  
  label {
    font-family: monospace;
    font-size: 13px;
    color: #2196f3;
    margin-bottom: 5px;
  }
  
  form > div:first-child {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
  }
  
  form > div > span {
    padding: 5px;
    font-weight: 600;
  }
  
  input:focus {
    outline: none;
  }
  
  form > div > input {
    padding: 5px;
    border: none;
    font-weight: 500;
    border-bottom: 2px solid rgba(21, 27, 57, .04);
    font-family: Lato;
    font-size: 16px;
    color: #151b39;
  }
  
  form div:nth-child(2) {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #2196f3;
    border: none;
    color: #fff;
  }
  
  button > a {
    color: white;
    text-decoration: none;
  }
  
  #leftbox {
    width: 70%;
    padding: 37px;
    padding-top: -10px;
  }
  
  #leftbox img {
    border-radius: 10px;
    width: 100%;

  }
  
  #myaddress {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    margin: 5px;
    margin: bottom 10px;}