footer{

    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-color: #1ca0e3;
    
    }
    #foo{
       
       display: flex;
       justify-content: center;
       align-self: auto;
       margin-top: 50px;
       background-color: #1ca0e3;
    }
    
    
    #footer1{
        
        display: flex;
       flex-direction: column;
       width: 25%;
       margin-top: 5px;
       margin-left: 40px;
    }
    
    #footer1 img{
         
        width: 50%;
        height: 22vh;
    }
    #footer1 img+p{
        line-height: 1.4;
         margin-top: -20px;
        color: #85dbfc;
    }
    #footer2{
        display: flex;
        margin-left: 300px;
        padding: 50px;
        gap: 50px;
    }
    
    #footer4{
        margin-top: 20px;
        padding: 10px;
        
    }
    #footer4 p{
        color: #85dbfc;
        margin-bottom: 8px;
      
    }
    #footer21 h1{
        color: wheat;
    }
    #foo-last{
       
        width: 95%;
        margin-top: 15px;
        margin-left: 24px;
        display: flex;
        justify-content: space-between;
        padding-left: 92px;
        padding-right: 90px;
    }
    #foo-last p{
        color: wheat;
    }
    
    .last-hr{
        width: 81%;
        color:#57c5f3; 
        margin-left: 120px;
    }
    