*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'poppins','sans-serif';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./background\ image.jpg");
   background-size: cover;
   background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-link li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-link li a{
    text-decoration: none;
    color: #fff;
}
.Register{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.container{
    padding: 0 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    /* padding-top: 22%;/ */
}
#travel{
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
}

#travel li{
    text-align: center;
    /* border: 1px solid; */
    list-style: none;
    width: 50%;
    margin-left: 350px;
    margin-top: 20px;
    color: #d7f9fa;
    
}

/* .....................................search..................... */

.search-bar{
    background: #fff;
    width: 70%;
    height: 10vh;
    margin: 110px 0px 30px 200px;
   
    padding: 10px 8px 10px 30px;
    border-radius: 50px;
    
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    /* background-color: #1ca0e3; */
    width: 35px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}
#searchbtn{
 /* border: 1px solid; */
 background-color: #1ca0e3;
    width: 60px;
    border: none;
    color: white;
} 
 #serach-btn{
 
    height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;

}
#btnn+i{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-right: 10px;
   color: white;
    width: 50px;
    height: 7vh;
    background-color: #1ca0e3;
    border-radius: 50px;
   

}

#animation{
      /* border: 1px solid; */
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin-left: 90px;
      gap: 50px;
}
#travel-img{
    /* border: 1px solid; */
    width: 70%;
}
#travel-img img{
    width: 100%;
}
#read-div{
    width: 460px;
    padding: 20px 10px 10px 0px ;
    /* border: 1px solid; */
}
#read-div>p{
    line-height: 1.2;
   margin-top: 20px;
   margin-bottom: 30px;
   color: #c1c6ce;
}
#readmore{
    width: 90px;
    height: 6vh;
    border-radius: 30px;
    background-color: #1ca0e3;
    border: none;
    color: white;
}
/* ............................. satisfied..................*/
#satisfied{
    width: 90%;
}
#satisfied img{
    margin-top: 50px;
    width: 95%;
    margin-left: 80px;
}
/* #first1{
    transform: rotate(3.142rad);
    width: 300px;
    height: 100px;
}
#second1{
    
    width: 300px;
    height: 100px;
} */









/* ...........................................last-div......................... */

#last-div{
    /* border: 1px solid; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 0px;
    margin-left: 60px;
    /* margin-right: 10px; */
    gap: 50px;
    padding: 2%;
}
#last-div2{
    display: flex;
    gap: 10px;
}

#last-div3 p{
    color: #b7bfce;
}

#last-div4 p{
    color: #b7bfce;
}

#last-div1 hr{
    color: #b7bfce;
    width: 90%;
    margin-right: 100px;

}
#last-p{
    /* border: 1px solid; */
    width: 91%;
    color: #b7bfce;
    margin-top: 15px;
    margin-left: 5px;
}
#last-div4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
/* ..................................footere............ */

footer{
/* border: 1px solid; */
width: 100%;
height: 50vh;
margin-top: 50px;
background-color: #1ca0e3;

}
#foo{
    /* border: 1px solid royalblue; */
   display: flex;
   justify-content: center;
   align-self: auto;
   margin-top: 50px;
   background-color: #1ca0e3;
}


#footer1{
    /* border: 1px solid; */
    display: flex;
   flex-direction: column;
   width: 25%;
   margin-top: 5px;
   margin-left: 40px;
}
/* #footer1 p{
    margin-top: 0px;
} */
#footer1 img{
      /* margin-bottom: -50px; */
      /* border: 1px solid; */
    width: 50%;
    height: 22vh;
}
#footer1 img+p{
    line-height: 1.4;
     margin-top: -20px;
    color: #85dbfc;
}
#footer2{
    display: flex;
    margin-left: 300px;
    padding: 50px;
    gap: 50px;
}

#footer4{
    margin-top: 20px;
    padding: 10px;
    
}
#footer4 p{
    color: #85dbfc;
    margin-bottom: 8px;
  
}
#footer21 h1{
    color: wheat;
}
#foo-last{
    /* border: 1px solid; */
    width: 95%;
    margin-top: 15px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    padding-left: 92px;
    padding-right: 90px;
}
#foo-last p{
    color: wheat;
}

.last-hr{
    width: 81%;
    color:#57c5f3; 
    margin-left: 120px;
}
#back{
    width: 120px;
    height:7vh;
    border-radius: 20px;
}
#next{
    width: 120px;
    height:7vh;
    border-radius: 20px;
}

/* ...........................sea-img........................... */
#sea-img{
  
   /* border: 1px solid; */
    min-height: 50vh;
    width: 85%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./Banner.jpg");
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./background\ image.jpg"); */
    background-size: cover;
   background-position: center;
   margin-left: 87px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding-top: 100px;
}
#sea-img img{
    width: 200px;
   border-radius: 25px;
}
#sea-img1{
    /* border: 1px solid; */
    font-size: large;
    width: 50%;
    margin-top: -120px;
    
    text-align: center;
}
#sea-img1 p{
    color: #66676b;
    margin-top: 20px;
}





@media screen and (max-width: 600px) {
    
    .header {
       
        background-color: red;
    }

   
}

@media screen and (max-width: 600px) {
   
    .search-bar {
      
        font-size: 14px;
    }

  
}