*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background-color: #f8f8f8;
	font-family:Arial, sans-serif;
	letter-spacing: 0.5px;
	font-size: 16px;
	line-height: 24px;

}
.header{
    padding: 50px;
    text-align: center;
}
.container{
	margin:auto;
    max-width: 900px;
	background-color: #fff;
	padding: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form {
	display: flex;
   flex-direction: row;
	padding: 20px;
    gap: 50px;
}
label {
	margin-bottom: 5px;
}
input {
	margin-bottom: 10px;
	padding: 15px;
    width: 400px;
	border: 1px solid #ccc;
}
select{
    margin-bottom: 10px;
    padding: 15px;
    width: 400px;
    border: 1px solid #ccc;
}
h2{
    text-align: start;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cont{
    display: flex;
    flex-direction: column;
}
#lastname{
    margin-top:55px;
}
#password1{
    margin-top: 190px;
}
#btn{
    padding: 15px;
    padding-left:70px;
    padding-right: 70px;
    margin-top: 20px;
    margin-left: 180px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

